<main>
    <h3>Code your way to success…</h3> <br/>
    <div class="mb-5">
      <!--  <p class="lead mb-3">Full Stack Developer</p> -->
        <p>Hello, I am Manoj, I am a web developer with 8+ years of commercial web development experience and
                2+ year of teaching and mentoring experience to college students and budding professionals who are relatively new to software industry.
        </p>
        <p>In a span of 8 years I have worked on various front end and back end technologies
                and have hands on in Angular, react, node.js, Mongodb, express, RXJS, Redux etc. I am hands on with many JavaScript frameworks.</p>
    </div>
    <h4>Whom I can help</h4>
        <p>If you are a BCA/MCA/ B. Tech student, I can help you in to bridging the gap between academics and Industry and can turn you into a Industry ready professional...
            <ul>
                <li>Training on in demand Industry Technologies i.e. Angular, React.js, Node.js, MEAN & MERN Stack</li>
                <li>Project guidance to apply learnings to solve real world problems.</li>
                <li>Preparation for placement interviews, frequently asked questions and their answers</li>
               <li>Help on assignments and Final projects and get hands dirty</li>
            </ul> 
            <h4>Get Connected</h4>
            <p>Feel free to connect with me for any kind of help in your coding journey:</p>
             <div>
                <div><strong>Email</strong>: Manojkumar.upreti@live.com</div>
                <div><strong>Call & Whats-app</strong>: +91-9711736800 </div>
            </div>
</main>


