<div class="text-center container">
    <h4>About me</h4>
    <p>I am Manoj, I am a web developer with 8+ years of commmercial web development experience and
         2+ year of teaching and mentoring experince to college students and budding professionals who are relatively new to software industry. 
         In a span of 8 years I have worked on various front end and back end technologies.</p>
         <p>I have succesfully completed  many projects using Angular, react, node.js, mongodb, express, RXJS, Redux etc. I am hands on with many javascript frameworks.</p>
</div>
