<div class="text-center">
    <div class="container">
        <div class="col-12">
        <div class="row">
            <div class="profile-header-container">   
                <div class="profile-header-img">
                    <img class="img-circle" src="../../assets/Manoj.jpg" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">Manoj</span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    </div>
</div>
