<!-- <div class="text-center container">
        <h4>Whom I can help</h4>
        <p>I have helped many BCA/MCA/ B.tech students to bride the gap between academics and Industry and made them Industry ready professional.
                <br/>here are some of the key area where can help and train students: </p>
            <ul>
                <li>Training on in demand Industry Technologies</li>
                <li>Provide Project guidanace to apply learnings to solve real world problems.</li>
                <li>Preparation for placement interviws and group discussions</li>
                <li>Preparation for placement interviews=i.e. Frequently asked questions</li>
               <li>Help on assignments and Final projects, and get hands dirty</li>
            </ul> 
</div> -->