<div class="text-center container">
        <h4>Whom I can help</h4>
        <p>I have helped many BCA/MCA/ B.tech students to bride the gap between academics and Industry and made them Job ready:
            with their assignments and final semester projects. Apart from that I also provde </p>
            <ul>
                <li>training on in demand Technologies</li>
                <li>Providing Project guidnace  to apply learning to solve real world problems.</li>
                <li>Preparation for placement interviws and group discussions</li>
            </ul> 
</div>